body {
    font-family: Arial, sans-serif;
}
.header-container {
    display: flex;
    align-items: center;
    margin: 20px;
}
.search-bar {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0px 0;
    margin-left: 20px;
}
.search-box {
width: 100%;
padding: 10px 40px 10px 20px;
border-radius: 25px;
border: 2px solid #ccc;
font-size: 16px;
box-sizing: border-box;
}
.search-bar .fa-search {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}
.categories {
    display:flex;;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: orange;
    width: 100%;
}
.categories h2 {
    margin: 10px;
    font-size: 22px;
}
.hero {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
flex-direction: row-reverse;
}
.hero img {
    max-width: 50%;
    height: auto;
}
.hero h3 {
    max-width: 45%;
    margin-right: 20px;
}
@media (max-width: 600px) {
    .search-bar {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 250px;
    }
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }
.categories {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}
.categories h2 {
    margin: 12px 0;
}
}
@media (max-width: 768px) {
    .hero {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .hero img,
    .hero h3 {
        max-width: 100%;
        margin: 0;
    }
}